.container {
  display: flex;
}
.btns {
  margin: 8px;
}
.wrapper {
  display: grid;
  grid-template-rows: 0.4fr 2.9fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Sheetz"
    "Item"
    "Footer";
  background-color: lightgrey;
  width: 400px;
  border: 2px solid black;
  padding: 8px;
  margin: 16px;
  border-radius: 5px;}

.header {
  grid-area: Sheetz;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 0px;
}

h2 {
  margin: 0px;
  font-size: 24px;
}

img {
  width: 150px;
}

.shake{
  grid-area: Item;
  font-size: 16px;
  text-align: center;
  margin: 8px;
  padding: 8px;
}

.Footer {
  grid-area: Footer;
}

.btns button:hover , .btns button:focus{
  color: white;
  background-color: blue;
}



@media (max-width: 800px) {
  .details {
    display: flex;
    text-align: right;
  }
}
@media (max-width: 500px) {
  .details {
    display: none;
  }
  img {
    width: 96px;
  }
.shake {
  font-size: 12px;
  }
}
